$white: #fff;
$black: #000;
$headerText: #333333;
$green: #00963f;
$blue: #009ee2;
$blueText: #4cd2fe;
$gray: #6d6d6d;
$gold: #ffb400;
$borderColor: rgb(239, 239, 239);
$blueButton: linear-gradient(45deg, #33b9e9, #098fc7);